default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development_credential: &development_credential
  username: username
  password: password

development:
  <<: *default
  host: 127.0.0.1
  database: 'appointment_system_development'
  <<: *development_credential

test:
  <<: *default
  database: 'appointment_system_test'

production:
  <<: *default
  database: 'appointment_system_production'
  username: appointment_system
  password: <%= ENV["APPOINTMENT_SYSTEM_DATABASE_PASSWORD"] %>
